<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Filme</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <h1>Cadastro de Filme</h1>

        <form method="post" action="/filmes">
            <label for="nome">Nome:</label>
            <input id="nome" name="nome">

            <br/>

            <label for="duracao">Duração (em minutos):</label>
            <input id="duracao" name="duracao">

            <br/>

            <label for="ano">Ano de lançamento:</label>
            <input id="ano" name="ano">

            <br/>

            <label for="genero">Gênero:</label>
            <input id="genero" name="genero">

            <br/>

            <input type="submit" value="Cadastrar">

        </form>
    </div>
</body>
</html>